

 <head>

      <title> Home Page</title> 
      <link rel="stylesheet" type="text/css" href="../Desktop/StyleSheet.css">
      <style type=text/css> 
         .leftdiv 
         { 
         float: left;
         background-color: pink 
         } 
         .middlediv 
         { 
         float: left; 
         background-color:gray 
         } 
         .rightdiv 
         { 
         float: left;
         background-color: blue 
         } 
         div{ 
         padding : 1%; 
         color: white; 
         background-color: 009900; 
         width: 30%; 
         border: solid black; 
         } 
         
      </style>


   </head> 
   <body>

   	<h1 style="color:blue;">Wipro</h1><br>
<h2><a style="color:blue; cursor: auto;" href="https://www.wipro.com">Welcome to the official homepage of Wipro</a></h2>
<img src="https://www.uk.sogeti.com/link/70001ce8c9704b3d830ece44b31b421f.aspx" style="width:300px">

    <h3><a style="cursor:auto;" href ="https://www.wipro.com">Wipro is a global technology and outsourcing firm headquarted in France</a></h3>  
    	<ul>
       Services and products 
      </ul>
      <ul>1. Business Operation</ul>
      <ul>2. Cloud services</ul>
      <ul>3. Cybersecurity services</ul>
      <ul>4. Digital Services</ul>
    
      <div class="leftdiv"> 
         <h3>Business Operation</h3> 
         <ul>1. New Ways to optimize your operations</ul>
         <ul>2. Optimize your supply chain</ul>
         <ul>3. Enrich your customer satisfaction</ul>
         <ul>4. Better manage risk and compliance</ul>
      
      </div> 
      <div class="middlediv"> 
            <h3>Cloud Services</h3> 
         <ul>1. Cloud Strategy</ul>
         <ul>2. Workload Assessments</ul>
         <ul>3. SAP Migration to AWS cloud</ul>
         <ul>4. Implementing SaaS</ul>
      
  
      </div> 
      <div class="rightdiv"> 
            <h3>Cybersecurity Services</h3> 
         <ul>1. Cloud Services</ul>
         <ul>2. Cybersecurity consulting</ul>
         <ul>3. Cyber attack simulation</ul>
         <ul>4. Compliance and risk</ul>
      </div>
   </body>
